extends ./layout.jade

block title
    title CS:GO Smoke and Nade Maps - #{map[0].name}

block content
    #map-top.row.text-center
        #map-title.col-xs-3
        .col-xs-3
            select#map-select.form-control
                option(value="default" disabled selected).
                    Select a map
                option(value="cache").
                    Cache
                option(value="cbble").
                    Cobblestone
                option(value="dust2").
                    Dust II
                option(value="inferno").
                    Inferno
                option(value="mirage").
                    Mirage
                option(value="overpass").
                    Overpass
                option(value="train").
                    Train
                    

        .col-xs-3
            button#add-nade-button.btn.btn-primary.
                Add a Nade
        .col-xs-3.text-left
            button#all-nades-button.btn.btn-primary.
                View Full Nade List

   
    .row.text-center
        #map(style="background-image: url(/images/maps/#{map[0].tag}.jpg)")
            - for (var x = 0; x < 400; x++)
                .map-box(box-num=x count=0)
            #filter
                span(class="glyphicon glyphicon-filter" title="Filters")
            #filter-options
                select#filter-nade-type.form-control
                    option(value="default" selected).
                        All Nades
                    option(value="Smoke").
                        Smoke
                    option(value="Flash").
                        Flash
                    option(value="Molotov").
                        Molotov
                    option(value="Frag").
                        Frag

                select#filter-nade-team.form-control
                    option(value="default" selected).
                        Both Teams
                    option(value="ct").
                        Counter-Terrorist
                    option(value="t").
                        Terrorist
            #filter-label
                | Show/Hide Filters

    


block modals
    #add-nade.modal.fade(tabindex="1" role="dialog")
        .modal-dialog
            .modal-content
                .modal-header
                .modal-body
                    form
                        fieldset.form-group
                            select#nade-type.form-control
                                option(value="default" disabled selected).
                                    Nade Type
                                option(value="Smoke").
                                    Smoke
                                option(value="Flash").
                                    Flash
                                option(value="Molotov").
                                    Molotov
                                option(value="Frag").
                                    Frag
                            select#nade-team.form-control
                                option(value="default" disabled selected).
                                    Team
                                option(value="ct").
                                    Counter-Terrorist
                                option(value="t").
                                    Terrorist
                            input#nade-title.form-control(placeholder="Nade Title (e.g. CT Spawn from Long)")
                            input#nade-link.form-control(placeholder="Video Link (Please include timestamp if the video has more than one nade)")
                    #errors


                .modal-footer
                    button#nade-close(type="button" class="btn btn-default" data-dismiss="modal").
                        Close
                    button#nade-submit(type="button" class="btn btn-primary").
                        Submit

    #list-nades-modal.modal.fade(tabindex="1" role="dialog")
        .modal-dialog
            .modal-content.text-center
                .modal-header.
                .modal-body
                    #list-nades-table-header.row
                        .col-xs-3.
                            Rating
                        .col-xs-2.
                            Type
                        .col-xs-1.
                            Team
                        .col-xs-6.
                            Title / Video Link
                    #list-nades

                .modal-footer
                    button(type="button" class="btn btn-default" data-dismiss="modal").
                        Close


    script(id="entry-template" type="text/x-handlebars-template")
        .row
            #nade-wrapper.col-xs-12.text-center
                #nade-row.row(class="{{team}}-bg" data-id="{{_id}}")
                    .col-xs-3.nade-rating
                        span(class="glyphicon glyphicon-triangle-top")
                        span(id="{{_id}}")
                            | {{rating}}
                        span(class="glyphicon glyphicon-triangle-bottom")
                    .col-xs-2.nade-type
                        | {{type}}
                    .col-xs-1.nade-team
                        | {{team}}
                    .col-xs-6.nade-title
                        | <a href="{{link}}" target="_blank">{{title}}</a> {{{creatorHelper creator}}}
                    

block scripts
    script(type="text/javascript").
        var map = !{JSON.stringify(map[0])};
        var session = !{JSON.stringify(session)};
    script(src="/js/main.js")
